header {
    height: 150px;
    background-color: $white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    @include mobile {
        height: 75px;
    }
    img {
        max-width: 400px;
        cursor: pointer;
        @include tablet {
            max-width: 300px;
        }
        @include mobile {
            max-width: 200px;
        }
    }
    nav {
        @include lightSans;
        font-size: 2rem;
        @include mobile {
            font-size: 1.5rem;
        }
    }
    ul {
        display: flex;
        flex-direction: row;
        li {
            margin: 0 20px;
            position: relative;
            z-index: 10;
            &::after {
                content: "";
                position: absolute;
                width: calc(100% - 4px);
                height: 10px;
                left: 2px;
                background-color: $accent2;
                opacity: 0.2;
                display: none;
                bottom: 0;
                z-index: 1;
            }
            &:hover, &:focus {
                cursor: pointer;
                &::after {
                    display: block;
                }
            }
        }
    }
}