@import "mediaQueries.scss";

.homepageContainer {
    width: 100%;
    height: calc(100vh - 150px);
    background-image: url("../assets/homepageBackground.png");
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
    @include mobile {
        background-size: 100%;
        height: calc(100vh - 75px);
    }
    h1 {
        @include boldSans;
        font-size: 6rem;
        color: $accent2;
        margin-bottom: 50px;
        text-align: center;
        @include smallLaptop {
            font-size: 5.5rem;
        }
        @include tablet {
            font-size: 4rem;
            margin-bottom: 10px;
        }
    }
    .homepageCopyText{
        width: 50%;
        @include mobile {
            width: 100%;
        }
        p {
            @include lightSans;
            font-size: 2.5rem;
            text-align: center;
            margin-bottom: 50px;
            @include mobile {
                font-size: 2rem;
                margin-bottom: 10px;
            }
        }
        .searchForAPlant {
            @include sans;
            display: block;
            margin: 0 auto;
            background-color: rgba(204, 87, 29, 0.5);
            font-size: 3rem;
            color: $white;
            border: 0;
            border-radius: 5px;
            padding: 10px;
            &:hover, &:focus {
                background-color: $accent3;
                cursor: pointer;
            }
            @include tablet {
                font-size: 2rem;
                padding: 5px;
            }
        }
    }
}

h2 {
    @include lightSans;
    color: $black;
    font-size: 3rem;
    position: relative;
    display: inline-block;
    z-index: 10;
    margin: 20px;
    @include mobile {
        font-size: 2.5rem;
    }
    &::after {
        content: "";
        display: block;
        height: 10px;
        width: calc(100% - 10px);
        position: absolute;
        left: 5px;
        bottom: 5px;
        background-color: $accent5;
        z-index: -1;
        opacity: 0.5;
    }
}

.displayAllPlantsContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    flex-wrap: wrap;
    @include smallMobile {
        justify-content: center;
    }
}

.searchResultsHeader {
    width: 100%;
}

.plantImageContainer {
    width: calc(100%);
    height: 350px;
    background-color: #e6e6e6;
    @include mobile {
        height: 300px;
    }
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
}
.plantContainer {
    width: calc((100% / 3) - 20px);
    margin: 20px 10px;
    padding: 10px;
    border: 1px solid $accent5;
    border-radius: 5px;
    transition: all 0.2s ease;
    text-align: center;
    @include tablet {
        width: calc((100% / 2) - 20px);
    }
    @include smallMobile {
        width: 100%;
        min-width: 250px;
    }
    &:hover {
        border: 1px solid $accent1;
        background-color: rgba(146, 189, 163, 0.1);
        cursor: pointer;
    }
    &:hover h3 {
        position: relative;
        display: inline-block;
        text-align: center;
        z-index: 10;
    }
}
h3 {
    @include lightSans;
    color: $black;
    text-align: center;
    font-size: 2rem;
    padding: 10px 0;
    transition: all 0.2s ease;
    @include tablet {
        font-size: 1.7rem;
    }
    @include mobile {
        font-size: 1.5rem;
    }
}
h4 {
    @include lightItalicSans;
    font-size: 1.7rem;
    color: $black;
    text-align: center;
    transition: all 0.2s ease;
    @include mobile {
        font-size: 1.3rem;
    }
}

.plantInfoContainer {
    width: 100%;
    padding: 10px;
    border: 1px solid $accent5;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    @include smallLaptop {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .plantInfoImageContainer {
        width: 400px;
        height: 500px;
        margin-right: 20px;
        @include smallLaptop {
            margin-right: 0;
            width: 100%;
            height: 400px;
            margin-bottom: 20px;
        }
        @include mobile {
            height: 250px;
        }
        img {
            object-fit: cover;
            object-position: center;
            width: 100%;
            height: 100%;
        }
    }
    h3, h4 {
        text-align: left;
        margin: 0;
        padding: 0;
    }
    h3 {
        font-size: 3rem;
        position: relative;
        z-index: 10;
        display: inline-block;
        @include mobile {
            font-size: 2.4rem;
        }
        &::after {
            content: "";
            position: absolute;
            width: calc(100% - 10px);
            height: 10px;
            left: 5px;
            bottom: 5px;
            background-color: rgba(146, 189, 163, 0.5);
            z-index: -1;
            @include smallMobile {
                display: none;
            }
        }
    }
    h4 {
        font-size: 2.5rem;
        padding-bottom: 10px;
        @include mobile {
            font-size: 2rem;
        }
    }
    p {
        @include lightSans;
        font-size: 2rem;
        color: $black;
    }
}

.plantInfoText {
    width: calc(100% - 300px);
    @include smallLaptop {
        width: calc(100% - 50px);
    }
    @include tablet {
        width: 100%;
    }
}

.goBackToAllPlants {
    cursor: pointer;
    padding: 0;
    margin: 10px 0;
    &::after {
        background-color: $accent2;
        transition: all 0.3s ease;
    }
    &:hover::after {
        background-color: $accent3;
    }
}

.infoGrid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    flex-wrap: wrap;
    padding: 20px 0;
    .plantInfo {
        padding: 10px;
        margin: 10px;
        width: 200px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        @include mobile {
            width: 150px;
        }
        @include smallMobile {
            width: 100px;
        }
    }
    .infoImage {
        width: 100px;
        height: 100px;
        padding: 10px;
        display: flex;
        justify-content: centre;
        align-items: centre;
        img {
            object-fit: contain;
            object-position: center;
            width: 100%;
            height: 100%;
            opacity: 0.5;
        }
    }
}

.dataText, .dataTitle {
    font-size: 1.8rem;
    display: block;
    text-align: center;
    width: 100%;
    @include smallMobile {
        font-size: 1.4rem;
    }
}

.dataTitle {
    @include boldSans;
}

.pageNavigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .backArrow, .forwardArrow {
        width: 50%;
        .backArrowSpan, .forwardArrowSpan {
            font-size: 5rem;
            color: $black;
            transition: all 0.3s ease;
            cursor: pointer;
            &:hover {
                color: $accent3;
            }
        }
        .greyedOutArrow {
            font-size: 5rem;
            color: $accent5;
            transition: all 0.3s ease;
            cursor: auto;
            &:hover {
                color: $accent5;
            }
        }    
    }
    .forwardArrow {
        text-align: right;
    }
}
